.accordion
{
    background-color: rgb(236,227,227);
    color:rgb(68,68,68);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,.accordion:hover
{
    background-color: rgb(204,204,204);
}

.accordion_body
{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}